version: '3.1'
services:
  stream-trivia-relay:
    build: .
    ports:
      - 3001:3001
      - 3002:3002
      - 3003:3003
      - 3004:3004
    volumes:
      - ./cert:/www/stream-trivia-relay/cert
    environment:
      PORT: 3001
      SSL_PORT: 3002
      WS_PORT: 3003
      WSS_PORT: 3004
      ORIGIN: https://localhost.rig.twitch.tv:8080
      WS_ORIGIN: http://localhost:3004
      SECRET_KEY:
      TWITCH_API_BASE_URL: https://api.twitch.tv
      NODE_ENV: production
      REDIS_HOST: 127.0.0.1
      REDIS_PORT: 6379
    restart: always
    depends_on:
      - redis
  redis:
    image: redis:5.0
    restart: always
    healthcheck:
      test: ["CMD", "redis-cli" ,"ping", "-h", "localhost"]
      timeout: 20s
      retries: 10
